backend/obj/Debug/net8.0/backend-lab-c28730.AssemblyInfo.cs
backend/obj/Debug/net8.0/backend-lab-c28730.AssemblyInfoInputs.cache
backend/bin/
backend/obj/

# .NET Installation files
dotnet-install.sh
packages-microsoft-prod.deb
