CI0128-2025-02-ImparablesIII.sln
backend/bin/Debug/net8.0/backend-lab-c28730.dll
backend/bin/Debug/net8.0/backend-lab-c28730.pdb
backend/obj/Debug/net8.0/backend-lab-c28730.AssemblyInfoInputs.cache
backend/obj/Debug/net8.0/backend-lab-c28730.csproj.CoreCompileInputs.cache
backend/obj/Debug/net8.0/backend-lab-c28730.dll
backend/obj/Debug/net8.0/backend-lab-c28730.pdb
backend/obj/Debug/net8.0/ref/backend-lab-c28730.dll
backend/obj/Debug/net8.0/refint/backend-lab-c28730.dll
backend/obj/Debug/net8.0/backend-lab-c28730.sourcelink.json